*{
    box-sizing: border-box;
    outline: 1px solid black;
}

html{
    font-size: 62.5%;
}

.monster,
.equip,
.material,
.creature,
.treasure{ 
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hidden{
    display: none;
}

.basicInfo{
    height: auto;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.schema > .location,
.schema > .drops,
.schema > .details{
    height: 150px;
    width: 80%;
}

.basicInfo > section{
    height: 3rem;
    width: 100%;
    text-align: center;
}

.basicInfo > img{
    height: 10rem;
    width: 10rem;

}

.basicInfo{
    display: flex;

}