@font-face {
    font-family: 'WindWaker';
    src: url('zelFont.ttf') format('truetype');
  }


*{
    box-sizing: border-box;
    outline: 1px solid black;
}


html{
    font-size: 62.5%;
}

body{
    font-family: 'WindWaker';
}

.monster,
.equip,
.material,
.creature,
.treasure{ 
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hidden{
    display: none;
}

.basicInfo{
    height: auto;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3rem;
    font-weight: 900;
}

.schema > .location,
.schema > .drops,
.schema > .details,
.schema > .attOrDef,
.schema > .recovery,
.schema > .cooked{
    height: auto;
    width: 80%;
    text-align: center;
    font-size: 1.8rem;
}

.basicInfo > section{
    height: 4rem;
    width: 100%;
    text-align: center;
}

.basicInfo > img{
    height: 20rem;
    width: 20rem;

}

.basicInfo{
    display: flex;

}